:root {
  --vp-layout-max-width: 1660px;
  --vp-sidebar-width: 260px;
  /** 主题颜色 */

  --vp-c-brand-1: #2670e6;
  --vp-c-brand-2: #246ada;
  --vp-c-brand-3: #478aff;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);

  /** 背景颜色 */

  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */

  /*
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
  */
  
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #00C6FB 20%, #2670e6 80%);
  --vp-home-hero-tagline: var(--vp-c-text-2);
  --vp-home-hero-text: var(--vp-c-text-1);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

/** 深色模式 */
[data-theme="dark"] {
  /* 主色：明亮但深邃的蓝色，去掉了绿意，非常正 */
  --vp-c-brand-1: #3b76a6; 
  /* 深色：更有深度的海军蓝，用于悬停或强调 */
  --vp-c-brand-2: #295b87; 
  /* 最深色：接近午夜蓝，增加层次感 */
  --vp-c-brand-3: #1b4263; 
  /* 柔和背景色：基于主色 16% 的透明度 */
  --vp-c-brand-soft: rgba(59, 118, 166, 0.16);

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  /*
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
  */
}

/* home */
.vp-home-doc-hero .image {
  margin-top: 60px !important;
}

.vp-home-doc-hero .name {
  font-size: 4rem !important;
}

.vp-home-doc-hero .text {
  font-size: 2.7rem !important;
}

.vp-home-doc-hero .tagline {
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .vp-home-doc-hero .name {
    font-size: 2.2rem !important;
  }

  .vp-home-doc-hero .text {
    font-size: 1.4rem !important;
  }
  
  .action {
    max-width: 500px;
  }

  .action .vp-button {
    margin: 5px !important;
  }
}

.item {
  transition: transform 0.3s;
}

.item:hover {
  transform: translateY(-5px);
}

/* doc */
.content-container {
  margin: 0 !important;
}

.vp-doc-container.has-aside .content-container {
  max-width: 1000px !important;
}

/* faq */
.posts-container.no-profile {
  max-width: 1400px !important;
}

.vp-posts-nav.local .nav-link {
  max-width: 175px !important;
}

/* 一级标题（分组标题） */
.vp-sidebar .sidebar-group__title,
.vp-sidebar .sidebar-heading,
.vp-sidebar .vp-doc .sidebar .group .title {
  font-size: 0.9rem;
}

/* 普通链接项 */
.vp-sidebar .sidebar-item,
.vp-sidebar .sidebar-link,
.vp-sidebar .vp-doc .sidebar .group .items .link {
  font-size: 0.85rem;
}